* {
	margin: 0;
	padding: 0;
}
.sub-header {
	background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
	url(../images/banner_2.jpg);
}
.fa-solid{
	font-weight: 900;
}
.add-post-btn {
	text-decoration: none;
	color: #fff;
	border: 1.5px solid #fff;
	padding: 15px 15px;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.add-post-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.7s;
}
.loading-indicator {
    text-align: center;
    margin-top: 20px;
}
.loading-indicator i {
    font-size: 40px;
    color: #f44336;
}

.loading-indicator p {
    margin-top: 10px;
    font-size: 18px;
    color: #f44336;
}
.posts,
footer h4 {
  margin-bottom: 30px;
}
.post-container {
	display: flex;
	width: 70%;
	margin: 30px auto;
	background-color: #fff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
}
.post-container:hover {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}
.post-image {
	flex: 1;
	margin: 6px 6px 6px 6px;
}
.post-image img {
	width: 100%;
	height: auto;
	margin: 2px 2px 2px 2px;
}
.post-text {
	flex: 1;
	padding: 20px;	
	overflow: hidden;
	word-wrap: break-word;
}
.post-text h2 {
	margin-top: 0;
	font-size: 40px;
}
.post-text p,
footer p {
  line-height: 22px;
  padding: 10px;
}
.post-data input {
	width: 100%;
}
.post-text p {
	font-size: 20px;
	position: relative;
	margin: 1rem 0 0 15px;
	font-weight: 300;
	&:first-of-type {
		margin-top: 1.25rem;
		&:before {
			content: "";
			position: absolute;
			height: 5px;
			background: #f44336;
			width: 120px;
			top: -0.75rem;
			margin-left: -20px;
			border-radius: 3px;
			transition: width 0.5s ease;
		}
	}
}
.post-container:hover .post-text p:first-of-type::before {
	width: 270px;
}
.post-text p .fa-solid,
.fa {
	color: #f44336;
	margin-right: 10px;
	cursor: pointer;
	padding: 18px 0;
	font-size: 25px;
}
.post-text ul {
	font-size: 20px;
	position: relative;
	margin-left: 70px;
}
.edit-post-btn,
.load-more-btn {
  background-color: #f44336;
  color: #fff;
  height: 40px;
  cursor: pointer;
}
.edit-post-btn {
	width: 20%;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	margin-left: 40%;
}
.load-more-btn{
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1300px) {
	.post-container {
		flex-direction: column;
		width: 85%;
	}
	.post-image {
		flex: 1;
		margin: 6px 6px 6px 6px;
	}
}