.sub-header {
    position: inherit;
  }
  .detail-content {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .service-info {
    border-bottom: 1.5px solid #dfdfdf;
    padding-bottom: 15px;
  }
  .service-info h1,
.service-info p {
  margin-bottom: 20px;
  color: #434a54;
}
  .service-info h1 {
    font-weight: 400;
    font-size: 23px;
  }
  .service-info p {
    font-size: 16px;
  }
  .separator {
    margin: 0 5px;
  }
  .back-button-conteiner {
    width: 93px;
    letter-spacing: 2px;
    color: #8b8684;
    margin-left: 7.8%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .back-button-conteiner .fa-solid {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
  }
  .back-button-conteiner span {
    font-size: 21px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
  }
  .booking-container p {
    margin-top: 30px;
    color: #434a54;
  }
  .combobox {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: calc(50% - 12.5px);
  }
    .diff-service-btn,
.options,
.selected-option {
  background-color: #fff;
}
  .selected-option {
    color: #8b8684;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .options,
    .selected-option p {
    color: #8b8684;
    margin: 0;
    }
  .options {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    border: 1px solid #f44336;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
  .options li {
    padding: 15px;
    cursor: pointer;
  }
  .options li:hover {
    color: #fff;
    background-color: #f44336;
  }
  .book-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .continue-book-btn,
.diff-service-btn {
  display: inline-block;
  padding: 10px 70px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
  .diff-service-btn {
    border: 1.5px solid #f44336;
    color: #f44336;
    border-radius: 4px;
    margin-right: 25px;
  }
  .continue-book-btn {
    background-color: #f44336;
    border: 1.5px solid #f44336;
    color: #fff;
    border-radius: 4px;
  }
  .diff-service-btn:hover,
  .continue-book-btn:hover {
    color: #fff;
    background-color: #fd9a93;
  }
  .back-conteiner {
    display: none;
    align-items: center;
    margin-bottom: 50px;
  }
  .back-conteiner h1,
.back-conteiner-staff h1 {
    margin: 0 0 0 30px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
  .back-conteiner h1 {
    flex-grow: 1;
    text-align: center;
    color: #434a54;
    font-size: 15px;
  }
  .back-conteiner .fa-solid {
    color: #434a54;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .staff .row:last-child .staff-option::after ,
  .staff-section {
    display: none;
  }
  .back-conteiner-staff {
    width: 59%;
    margin: 30px auto 0px;
    display: flex;
    align-items: center;
  }
  .back-conteiner-staff h1 {
    flex-grow: 1;
    text-align: center;
    color: #434a54;
    font-size: 20px;
  }
  .back-conteiner-staff .fa-solid {
    color: #434a54;
    font-weight: 600;
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
  }
  .staff {
    width: 60%;
    margin: 40px auto 100px;
    background: #fff;
    border: 1.5px solid #ccc;
  }
  .staff .row {
    display: flex;
    justify-content: space-between;
  }
  .options,.any-staff .staff-option {
    width: 100%;
  }
  .staff-option {
    width: 50%;
    margin: 0 25px;
    text-align: left;
    background: #fff;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .staff-option::after {
    content: "";
    display: block;
    width: 100%;
    margin-left: -12.5px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  .staff-option .img {
    width: 100px;
  }
  .staff-option .info {
    width: calc(100% - 100px);
  }
  .staff-option img {
    height: 70px;
    border-radius: 50%;
    font-weight: 300;
    line-height: 22px;
  }
  .staff-option p {
    padding: 0;
    margin-top: 0px;
    font-size: 18px;
    color: #000;
  }
  .staff-option p:last-child {
    margin-top: 15px;
  }
  .staff-option h2 {
    margin: 0;
    text-align: left;
    color: #000;
  }
  .info div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .select-staff-btn {
    background-color: #f44336;
    border: 1.5px solid #f44336;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    padding: 7px 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    justify-content: flex-end;
  }
  .schedule-section {
    display: none;
    margin: auto 7%;
  }
  .appointment-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 30px;
  }
  .back-conteiner-schedule {
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
  }
  .back-conteiner-schedule h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #434a54;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 14px;
  }
  .back-conteiner-schedule .fa-solid {
    color: #434a54;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
  }
  .calendar {
    font-family: "Open Sans", sans-serif;
    height: 250px;
    width: 350px;
    margin: 47px auto 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
  }
  .day {
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 16px;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
  }
  .hour-options-columms,
.schedule-container {
  display: flex;
  flex-direction: row;
}
  .calendar-header {
    color: #fff;
    background-color: #f44336;
    padding: 0px 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .month-year {
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
  }
  .arrow {
    cursor: pointer;
  }
  .left-arrow,
  .right-arrow {
    color: #ffffff9c;
  }
  .left-arrow :hover,
  .right-arrow:hover {
    color: #fff;
  }
  .left-arrow {
    display: none;
    width: 20px;
    height: 20px;
    margin-right: auto;
  }
  .right-arrow {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
  .hour-options-container .hour-container:hover,
.selected {
  border: 1px solid #f44336;
}
  .appointment-header {
    margin-bottom: 10px;
    color: #434a54;
    width: 100%;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }
  .appointment-header h4 {
    margin-right: auto;
    padding: 5px;
    letter-spacing: 0.5px;
  }
  .appointment-header span {
    margin-left: auto;
    color: #8b8684;
    padding: 5px;
  }
  .appointment-info {
    color: #fff;
    border: 1px solid #cccccc77;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .appointment-info .img img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .appointment-info .info h5 {
    color: #434a54;
    letter-spacing: 0.7px;
    padding-bottom: 5px;
    font-size: 15px;
  }
  .appointment-info .info p {
    color: #434a54;
    padding-bottom: 5px;
    font-size: 15px;
  }
  .appointment-info .info {
    color: #434a54;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
  }
  .appointment-info .info a {
    color: #8b8684;
    font-size: 13px;
  }
  .hour-options-container {
    display: none;
    font-family: "Open Sans", sans-serif;
  }
  .hour-options-container h4 {
    color: #434a54;
    padding: 10px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 23px;
  }
  .hour-options-container h5 {
    color: #434a54;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
  }
  .hour-options-container div div {
    padding: 20px;
  }
  .hour-options-container .hour-container {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #434a54;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  @media (max-width: 1500px) {
    .back-conteiner-schedule {
      width: 90%;
      margin: 30px auto;
    }
    .schedule-container {
      display: flex;
      flex-direction: column;
    }
    .appointment-container {
      display: none;
    }
    .hour-options-container h4 {
      margin-top: 30px;
    }
    .hour-options-columms {
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    .hour-container span {
      margin: 0 auto;
    }
    .calendar {
      margin-top: 20px;
    }
    .combobox {
      width: 35%;
    }
    .back-conteiner-staff {
      width: 95%;
    }
    .staff {
      width: 100%;
      background: #fff;
      margin: 40px auto 0px;
      border: none;
      padding-bottom: 20px;
    }
    .staff .row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .any-staff .staff-option,
  .staff-option {
    width: calc(100% - 70px);
  }
    .staff-option {
      margin: 0 auto;
      padding: 20px 35px;
    }
    .staff-option::after {
      width: calc(100% - 40px);
      margin: 0 auto;
    }
    .staff .row:last-child .staff-option::after {
      display: block;
    }
    .staff .row:last-child .staff-option:last-child::after {
      display: none;
    }
    .staff-option .img {
      width: 12%;
    }
    .staff-option .info {
      width: 85%;
    }
    .select-staff-btn {
      padding: 7px 40px;
    }
    .hour-options-container div div {
      padding: 0px 20px;
    }
  }
  @media (max-width: 1200px) {
    .back-conteiner {
      display: flex;
    }
    .back-button-conteiner {
      display: none;
    }
    .book-button-container {
      justify-content: center;
    }
    .diff-service-btn,
    .continue-book-btn {
      width: 50%;
      font-size: 15px;
      padding: 7px 70px;
    }
    .detail-content {
      width: calc(100% - 60px);
      height: calc(100vh - 150px);
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .booking-container {
      flex-grow: 1;
    }
    .combobox {
      width: 100%;
    }
    .schedule-section {
      margin: auto 0;
    }
  }
  @media (max-width: 850px) {
    .diff-service-btn,
    .continue-book-btn {
      padding: 7px 10px;
    }
    .staff-option .img {
      width: 100px;
    }
    .staff-option .info {
      width: calc(97% - 100px);
    }
    .any-staff .info div {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 600px) {
    .diff-service-btn,
    .continue-book-btn {
      width: 95%;
      margin-top: 15px;
      margin-right: 0;
    }
    .book-button-container {
      display: flex;
      flex-direction: column;
    }
    .back-conteiner-staff .fa-solid {
      font-size: 18px;
    }
    .back-conteiner-staff h1 {
      font-size: 16px;
      margin-left: 15px;
    }
    .staff-option {
      padding: 20px 10px;
      width: calc(100% - 60px);
    }
    .staff-option h2 {
      font-size: 20px;
    }
    .staff-option p {
      font-size: 15px;
    }
    .select-staff-btn {
      font-size: 11px;
      padding: 4px 37px;
    }
    .staff-option .img {
      width: 90px;
    }
    .staff-option .img img {
      width: 60px;
      height: auto;
    }
    .staff-option .info {
      width: calc(97% - 90px);
    }
  }
  @media (max-width: 500px) {
    .hour-options-columms {
      width: 392px;
    }
    .back-conteiner-schedule {
      margin: 30px;
    }
    .back-conteiner-schedule .fa-solid {
      padding-left: 3px;
    }
    .back-conteiner-schedule h1 {
      padding-right: 17px;
    }
    .row .info div {
      margin-bottom: 15px;
    }
    .back-conteiner {
      margin-bottom: 30px;
    }
    .back-conteiner .fa-solid {
      margin-right: 5px;
      font-size: 16px;
    }
    .back-conteiner h1 {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  @media (max-width: 440px) {
    .back-conteiner .fa-solid,
    .back-conteiner-staff .fa-solid {
      font-size: 15px;
    }
    .back-conteiner h1,
    .back-conteiner-staff h1 {
      font-size: 11px;
    }
    nav {
      padding: 18px;
    }
    .sub-header {
      height: 70px;
    }
  }