* {
	margin: 0;
	padding: 0;
}
.sub-header {
	background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
	url(images/banner_2.jpg);
}
.post-data {
	width: 70%;
	margin: 40px auto 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.post-data h1 {
	margin-bottom: 15px;
	font-size: 36px;
    font-weight: 600;
}

.post-data > div:first-child {
	width: 40%;
}
.post-data > div:last-child {
	width: 58%;
}
.post-data > div:first-child textarea {
	margin-bottom: 10px;
}
.post-data > div:first-child textarea,
.post-data > div:last-child textarea {
    width: 100%;
	box-sizing: border-box;
	border: none;
    font-size: 16px;
    padding: 20px;
    outline: none;
    background-color: #fff;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    border: 1.5px solid #ccc;
}
.post-data > div:first-child textarea:focus,
.post-data > div:last-child textarea:focus {
    border: 1.5px solid #f44336;
}
.post-data > div:first-child img {
	width: 100%;
	height: auto;
}
.delete-post-btn,
.save-changes-btn {
	width: 100%;
	background-color: #f44336;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	height: 40px;
	display: block;
	margin: 10px auto 0;
}
.post-data input::file-selector-button {
	width: 50%;
	background-color: #f44336;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	height: 40px;
	margin-right: 5%;
	margin-top: 2%;
}