* {
	margin: 0;
	padding: 0;
}
/*---------- home page ------------*/

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
		url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	padding: 2% 2%;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 120px;
}
.nav-links {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 20px;
	position: relative;
}
.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 3px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after {
	width: 100%;
}
.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1 {
	font-size: 4vw;
}
.text-box p {
	margin: 10px 20%;
	font-size: 20px;
	color: #fff;
}
.visit-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1.5px solid #fff;
	padding: 17px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.visit-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.7s;
}
nav .fa-solid {
	display: none;
}
@media (max-width: 770px) {
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	.nav-links ul {
		padding: 30px;
	}
	nav .fa-solid {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 28px;
		cursor: pointer;
	}
	.opinions {
		width: 80%;
		margin: auto;
		padding-top: 100px;
		text-align: center;
		flex-direction: column;
	}
}
@media (max-height: 570px) {
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	.nav-links ul {
		padding: 30px;
	}
	nav .fa-solid {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 28px;
		cursor: pointer;
	}
}
.distinguish {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 70px;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
p {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.dist-exp,
.dist-pri,
.dist-qua,
.dist-prof {
	flex-basis: 23%;
	background: #4f5d75;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: white;
}
.dist-exp p,
.dist-pri p,
.dist-qua p,
.dist-prof p {
	color: white;
}
h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.dist-exp:hover,
.dist-pri:hover,
.dist-qua:hover,
.dist-prof:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
}
.offer {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}
.offer-woman,
.offer-men,
.offer-child,
.offer-wave,
.offer-occasion,
.offer-beard {
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: -35px;
	position: relative;
	overflow: hidden;
}
.offer-woman img,
.offer-men img,
.offer-child img,
.offer-wave img,
.offer-occasion img,
.offer-beard img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover {
	background: rgba(226, 0, 0, 0.4);
}
.layer h3 {
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3 {
	bottom: 49%;
	opacity: 1;
}
@media (max-width: 900px) {
	.distinguish {
		width: 90%;
		padding-top: 8vw;
	}
	.row {
		flex-direction: column;
		align-items: center;
	}
	.dist-exp,
	.dist-pri,
	.dist-qua,
	.dist-prof {
		flex-basis: 100%;
		margin-bottom: 2vw;
	}
	.dist-exp:hover,
	.dist-pri:hover,
	.dist-qua:hover,
	.dist-prof:hover {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
	}
	.offer-woman,
	.offer-men,
	.offer-child,
	.offer-wave,
	.offer-occasion,
	.offer-beard {
		flex-basis: 100%;
		margin-top: 7vw;
	}
}
.opinions {
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.opinions-col {
	flex-basis: 43%;
	border-radius: 10px;
	margin-bottom: 5%;
	margin-left: 1vw;
	text-align: left;
	background: #4f5d75;
	padding: 25px;
	cursor: pointer;
	display: flex;
}
.opinions-col img {
	height: 80px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.opinions-col p {
	padding: 0;
	font-size: 18px;
	color: #fff;
}
.opinions-col h2 {
	margin-top: 15px;
	text-align: left;
	color: #fff;
}
.opinions-col .fa {
	color: #fff;
}
.cta {
	margin: 50px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(images/banner_2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 150px 0;
}
.cta h1 {
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}
.contact-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1.5px solid #fff;
	padding: 15px 30px;
	font-size: 16px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.contact-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.7s;
}
footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
footer h4 {
	margin-bottom: 30px;
	font-weight: 600;
}
.icons .fa-brands {
	color: #f44336;
	margin: 0 10px;
	cursor: pointer;
	padding: 18px 0;
	font-size: 20px;
}
.fa-heart {
	color: #f44336;
}

/*---------- contact-us page ------------*/

.sub-header-contact {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
		url(images/hair_tools3.jpeg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-contact h1 {
	margin-top: 4vw;
}
.contact-us {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.contact-us .row {
	display: flex;
	justify-content: space-between;
}
.contact-form {
	width: 48%;
}
.contact-us input,
.message-textarea {
	width: 95%;
	max-width: 700px;
	border: none;
	font-size: 14px;
	padding: 20px;
	outline: none;
	margin-bottom: 15px;
	background-color: #fff;
	color: rgb(53, 53, 53);
	border-radius: 10px;
	border: 1.5px solid #ccc;
}
.contact-us input:focus,
.message-textarea:focus {
	border: 1.5px solid #f44336;
}
.contact-us input::placeholder,
.message-textarea::placeholder {
	text-transform: 1100px;
}
.input-btn {
	display: inline-block;
	background-color: #f44336;
	border: 1.5px solid #f44336;
	border-radius: 10px;
	padding: 15px 30px;
	color: #fff;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 60px;
}
.map-container {
	width: 48%;
	position: relative;
	height: 475px;
}
.mapBg {
	position: absolute;
	background-color: #f44336;
	bottom: 0;
	right: 0;
	width: 90%;
	height: 90%;
	border-radius: 20px;
}
.map {
	position: absolute;
	border-radius: 20px;
	border: 1.5px solid #ccc;
	top: 0;
	left: 0;
	width: 94%;
	height: 93%;
}
.map iframe {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.contact-col {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
	margin-bottom: 45px;
	text-align: left;
}
.contact-col div {
	display: flex;
	align-items: center;
}
.contact-col div .fa {
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}
.contact-col div h5 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 800;
}
.contact-col div p {
	font-size: 15px;
	color: #555;
	padding: 0;
}
@media (max-width: 1000px) {
	.contact-us {
		width: 95%;
		flex-direction: column;
		align-items: center;
	}
	.contact-us .row {
		flex-direction: column;
		align-items: center;
	}
	.map-container,
	.contact-form {
		width: 90%;
		margin-top: 5vw;
	}
	.contact-us input,
	.message-textarea {
		width: 90%;
	}
	.contact-col {
		align-items: center;
		flex-direction: column;
	}
}

/*---------- pricing page ------------*/

.sub-header-pricing {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
		url(images/hair_salon.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-pricing h1 {
	margin-top: 4vw;
}
.pricing {
	width: 70%;
	margin: 2vw auto;
	display: flex;
	flex-direction: column;
}
.pricing .row {
	display: flex;
	justify-content: space-between;
	margin-bottom: -2px;
	margin-top: -2px;
	align-items: center;
}
.price-table {
	width: 50%;
	height: 100%;
	font-size: 22px;
	font-weight: normal;
	border-collapse: collapse;
	background-color: white;
}
.price-table td {
	padding: 1.3vw;
	border-bottom: 1px solid #ccc;
	white-space: pre;
}
.price-table tr strong {
	transition: color 0.1s, font-size 0.1s;
}
.price-table tr:last-child td {
	border-bottom: none;
}
.price-table tr:hover strong {
	color: #f44336;
	font-size: 23px;
}
.price-image {
	width: 50%;
	position: relative;
}
.price-image img {
	width: 100%;
	height: auto;
}
.pricing h5 {
	text-align: center;
	color: #f44336;
}
@media (max-width: 1850px) {
	.price-table {
		font-size: 20px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 21px;
	}
}
@media (max-width: 1750px) {
	.price-table {
		font-size: 19px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 20px;
	}
}
@media (max-width: 1625px) {
	.price-table {
		font-size: 18px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 19px;
	}
}
@media (max-width: 1550px) {
	.price-table {
		font-size: 17px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 18px;
	}
}
@media (max-width: 1450px) {
	.pricing {
		width: 95%;
	}
	.price-table {
		width: 50%;
		font-size: 22px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 23px;
	}
	.price-image {
		width: 50%;
	}
}
@media (max-width: 1350px) {
	.price-table {
		font-size: 20px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 21px;
	}
}
@media (max-width: 1275px) {
	.price-table {
		font-size: 19px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 20px;
	}
}
@media (max-width: 1175px) {
	.price-table {
		font-size: 17px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 18px;
	}
}
@media (max-width: 1100px) {
	.price-table {
		font-size: 16px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 17px;
	}
}
@media (max-width: 1000px) {
	.price-table {
		font-size: 15px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 16px;
	}
}
@media (max-width: 950px) {
	.price-table {
		font-size: 14px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 15px;
	}
}
@media (max-width: 900px) {
	.pricing .row {
		margin-top: 7vw;
	}
	.price-image,
	.price-table {
		width: 100%;
	}
	.price-table {
		font-size: 21.5px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 22.5px;
	}
}
@media (max-width: 700px) {
	.price-table {
		font-size: 18.5px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 19.5px;
	}
}
@media (max-width: 600px) {
	.price-table {
		font-size: 17.5px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 18.5px;
	}
}
@media (max-width: 500px) {
	.price-table {
		font-size: 13px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 13.5px;
	}
}
@media (max-width: 400px) {
	.price-table {
		font-size: 10.5px;
	}
	.price-table tr:hover strong {
		color: #f44336;
		font-size: 11.5px;
	}
}
/*---------- info page ------------*/
.sub-header-info {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
		url(images/hair_tools.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-info h1 {
	margin-top: 100px;
}
.info {
	width: 55%;
	margin: 30px auto;
	display: flex;
}
.my-info {
	width: 65%;
	margin-left: 20px;
	margin-top: 5px;
}
.my-info h2 {
	font-size: 30px;
}
.my-info p {
	font-size: 22px;
}
.my-image {
	width: 35%;
}
.my-image img {
	width: 100%;
	height: auto;
}
@media (max-width: 1500px) {
	.info {
		width: 70%;
	}
}
@media (max-width: 1100px) {
	.info {
		width: 70%;
		margin: 30px auto;
		display: flex;
		flex-direction: column;
	}
	.my-image {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 4vw;
	}
	.my-info {
		width: 100%;
	}
}
/*---------- posts page ------------*/
.sub-header-posts {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
		url(images/banner_2.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-posts h1 {
	margin-top: 50px;
	margin-bottom: 20px;
}
.add-post-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1.5px solid #fff;
	padding: 15px 15px;
	font-size: 16px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.add-post-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 0.7s;
}
.posts{
	margin-bottom: 30px;
}
.post-container {
	display: flex;
	width: 70%;
	margin: 30px auto;
	background-color: #fff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
}
.post-container:hover {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}
.post-image {
	flex: 1;
}
.post-image img {
	width: 100%;
	height: auto;
	margin: 2px 2px 2px 2px;
}
.post-text {
	flex: 1;
	padding: 20px;	
	overflow: hidden;
	word-wrap: break-word;
}
.post-text h2 {
	margin-top: 0;
	font-size: 40px;
}
.post-text p {
	font-size: 20px;
	position: relative;
	margin: 1rem 0 0 15px;
	&:first-of-type {
		margin-top: 1.25rem;
		&:before {
			content: "";
			position: absolute;
			height: 5px;
			background: #f44336;
			width: 120px;
			top: -0.75rem;
			margin-left: -20px;
			border-radius: 3px;
			transition: width 0.5s ease;
		}
	}
}
.post-container:hover .post-text p:first-of-type::before {
	width: 270px;
}
.post-text p .fa-solid,
.fa {
	color: #f44336;
	margin-right: 10px;
	cursor: pointer;
	padding: 18px 0;
	font-size: 25px;
}
.post-text ul {
	font-size: 20px;
	position: relative;
	margin-left: 70px;
}

.edit-post-btn {
	width: 20%;
	background-color: #f44336;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	height: 40px;
	margin-left: 40%;
}
.load-more-btn{
	background-color: #f44336;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	width: 40vh;
	height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1300px) {
	.post-container {
		flex-direction: column;
		width: 85%;
	}
	.post-image {
		flex: 1;
		margin: 6px 6px 6px 6px;
	}
}
/*---------- edit post page ------------*/
.sub-header-edit-post {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
		url(images/banner_2.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-edit-post h1 {
	margin-top: 100px;
}
.post-data {
	width: 70%;
	margin: 40px auto 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.post-data h1 {
	margin-bottom: 15px;
}

.post-data > div:first-child {
	width: 40%;
}
.post-data > div:last-child {
	width: 58%;
}
.post-data > div:first-child textarea {
	margin-bottom: 10px;
}
.post-data > div:first-child textarea,
.post-data > div:last-child textarea {
    width: 100%;
	box-sizing: border-box;
	border: none;
    font-size: 16px;
    padding: 20px;
    outline: none;
    background-color: #fff;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    border: 1.5px solid #ccc;
}
.post-data > div:first-child textarea:focus,
.post-data > div:last-child textarea:focus {
    border: 1.5px solid #f44336;
}
.post-data > div:first-child img {
	width: 100%;
	height: auto;
}
.post-data button {
	width: 100%;
	background-color: #f44336;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	height: 40px;
	display: block;
	margin: 10px auto 0;
}
.post-data input {
	width: 100%;
}
.post-data input::file-selector-button {
	width: 50%;
	background-color: #f44336;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	height: 40px;
	margin-right: 5%;
	margin-top: 2%;
}
/*---------- login page ------------*/
.body-login {
	background: #000428;
	background: -webkit-linear-gradient(to right, #000428, #004e92);
	background: linear-gradient(to right, #000428, #004e92);
}
.sub-header-login {
	height: 15vh;
	width: 100%;
	margin-top: -10px;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header-login .nav-links ul li a {
	color: rgba(229, 229, 229, 0.8);
}
.login-form {
	margin: 5vh auto;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-container {
	width: 50vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transition: transform 0.5s ease-in-out;
}
.form {
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	position: absolute;
	backface-visibility: hidden;
	background-color: rgba(255, 255, 255, 0.1);
}
.register-form {
	transform: rotateY(180deg);
}
.form-group {
	display: flex;
}
.form-group > * {
	margin-left: 0.5vh;
	margin-right: 0.5vh;
}
.form h1 {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5vh;
	color: #e5e5e5;
	margin: 30px auto;
}
.form-container input,
.bio-textarea {
	width: 90%;
	height: 2vh;
	border: none;
	font-size: 14px;
	padding: 18px;
	outline: none;
	margin-bottom: 1vh;
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	background-color: rgba(255, 255, 255, 0.07);
	color: rgba(255, 255, 255);
	border-radius: 10px;
	border: 1.5px solid rgba(0, 0, 0, 0.1);
}
.form-container input:focus,
.bio-textarea:focus {
	border: 1.5px solid rgb(244, 67, 54, 0.7);
}
.form-container input::placeholder,
.bio-textarea::placeholder {
	color: rgba(229, 229, 229, 0.8);
	text-transform: 1100px;
}
@media (max-width: 520px) {
	.form-container {
		width: 40vh;
	}
	.label-flip {
		font-size: 13px;
	}
	.sub-header-login {
		height: 15vh;
		width: 100%;
		margin-top: -5px;
	}
}
.form img {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
	margin-bottom: 1.9vh;
	object-fit: cover;
	border-radius: 30%;
	overflow: hidden;
}
.login-btn,
.register-btn {
	display: inline-block;
	background-color: rgb(244, 67, 54, 0.9);
	border: 1.5px solid #f44336;
	border-radius: 10px;
	padding: 15px 30px;
	color: #fff;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 6vh;
	text-align: center;
	margin-left: 0.5vh;
	margin-right: 0.5vh;
}
.label-flip {
	width: 35%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2vh;
	position: relative;
	color: #e5e5e5;
}

.label-flip:hover {
	color: rgb(244, 67, 54);
}
/*---------- backend page ------------*/
.page-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
}
.sidebar ul li {
    height: 60px;
    line-height: 60px;
}
.sidebar ul li a {
    display: flex;
    align-items: center; /* Ustawia elementy na środku pionowo */
	text-decoration: none;
}
.sidebar ul li a i {
	width: 30%;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #fff;
}
.sidebar ul li a span {
	width: 70%;
    color: #fff;
	flex-grow: 1; /* Rozciąga span, aby zajmował dostępną przestrzeń */
	padding-left: 10px;
	font-size: 18px;
}
.sidebar ul li:hover a {
    background-color: #f44336;
}
.main-panel {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
	overflow-y: auto;
}
.userProfile{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
	margin-bottom: 10px;
    text-align: center;
}
.userProfile img{
	width: 500px;
	height: auto;
}
.userProfile p{
	color: #fff;
	font-size: 18px;
	flex-grow: 1;
	word-wrap: break-word;
}
.logout-btn{
	list-style: none;
}
.logout-btn li{
	height: 60px;
    line-height: 60px;
}
.logout-btn li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
    padding: 0;
}
.logout-btn li a i {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
.logout-btn li a span {
    width: 70%;
    color: #fff;
    flex-grow: 1;
    padding-left: 10px;
    font-size: 18px;
}
.logout-btn li:hover a {
    background-color: #f44336;
}
.profile-content {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 30px auto 0;
}
.user-info {
	width: 40%;
	background-color: #fdfdfd;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
	height:330px;
    position: relative;
}
.user-name {
	height: 30%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	margin-top: 40px;
	margin-bottom: 10px;
}
.user-name img{
	width: auto;
	height: 90px;
	border-radius: 15px;
}
.user-name p{
	margin-top: 5px;
	font-size: 20px;
	font-weight:600;
	color: #6b6b6b;
}
.bio {
	height: auto;
	max-height: 142px;
	width: 90%;
	overflow: hidden;
	background-color: #ff8c84;
	border-radius: 15px;
	margin: 20px;
}
.bio p{
	font-size: 17px;
	color: #fff;
	word-wrap: break-word;
	margin: 10px 2px;
}
.edit-user-form {
    width: 57%;
    background-color: #fdfdfd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper-section{
	margin-top: 20px;
}
.upper-section,
.middle-section,
.lower-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
	margin-left: -20px;
	margin-right: -20px;
}
.name-section,
.lastname-section,
.email-section,
.telephone-section,
.bio-section,
.button-section {
    width: 48%;
	margin: 0 20px;
}
.bio-section{
	max-width: 310px;
}
.button-section{
	text-align: center;
}
.button-section button{
	background-color: rgb(244, 67, 54, 0.9);
	border: 1.5px solid #f44336;
	border-radius: 10px;
	padding: 0px calc(51% - 30px);
	color: #fff;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	height: 51px;
	text-align:center;
	margin: 2.5vh 0 0.5vh 2.6vh;
}
.edit-user-form label{
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
	display: block;
}
.edit-user-form input,
.edit-user-form textarea {
    width: calc(100% - 30px);
    max-width: 100%;
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    border: 1.5px solid #ccc;
}
.edit-user-form textarea{
	width: 100%;
	margin: 0;
}
.edit-user-form input:focus,
.edit-user-form textarea:focus {
    border-color: #fc695e;
    outline: none;
}
@media (max-width: 600px) {
	.user-info img{
	height: 80px;
	width: auto;
	}
}
@media (max-width: 1200px) {
.profile-content {
	width: 95%;
}

}
@media (max-width: 1000px) {
	.profile-content {
		flex-direction: column; 
		align-items: center;
		gap: 20px;
	}
	.edit-user-form {
		width: 90%;
	}
	.user-info {
		width: 90%;
	}
	.lower-section{
		margin-bottom: 20px;
	}
}
@media (max-width: 700px) {
	.upper-section,
	.middle-section,
	.lower-section {
		flex-direction: column;
	}
	.name-section,
	.lastname-section,
	.email-section,
	.telephone-section,
	.bio-section,
	.button-section {
		width: 85%;
		margin: 0 20px;
	}
	.edit-user-form textarea{
		max-width: 85%;
	}
}
.post-head{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.posts-content h1,
.users-content h1{
	text-align: center;
}
.add-new-post-btn,
.add-new-user-btn{
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	border: 1.5px solid #f44336;
	border-radius: 10px;
	padding: 15px 125px;
	font-size: 16px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
	transition: background 0.5s, color 0.2s;
}
.add-new-post-btn:hover ,
.add-new-user-btn:hover{
	background: #f44336;
	color: #fff;
}
.users{
	width: 100%;
    margin: 0 auto;
}
.users-table {
	width: 90%;
	border-collapse: collapse;
	overflow: hidden;
	background-color: #ccc;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin: 20px auto;
	border-radius: 5px;
}
.users-table th,
.users-table td {
	padding: 15px;
	background-color: #f1f1f1; 
	color: #fff;
	position: relative;
	white-space: nowrap;
	word-wrap: break-word;
	transition: background-color 0.3s;
}
.users-table th {
	text-align: left;
	background-color: #f44336;
	font-size: 20px;
	font-weight: 600;
}
.users-table img{
	width: 60px;
	height: auto;
	border: 2px solid #f44336;
	border-radius: 15px;
}
.users-table td.buttons {
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	gap: 5px;
	padding-right: 0;
}
.users-table td.buttons button {
	height: 32px;
	width: 150px;
	margin: 0 auto;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	border: 1.5px solid #f44336;
	cursor: pointer;
	transition: background 0.2s, color 0.1s;
}
td.buttons button:hover{
	background: #f44336;
	color: #fff;
}
.users-table td {
	position: relative;
	color: #000;
	font-size: 18px;
}
.users-table tbody tr:hover td {
    background-color: #ddd;
}

.users-table td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: #ddd;
    z-index: -1;
    transition: background-color 0.3s;
}